/* ================= RESET ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(to right,#0b6fc2,#00aaff);
    min-height:100vh;
}

/* ================= HEADER ================= */
header{
     position:fixed;
    top:10px;
    left:50%;
    transform:translateX(-50%);
    background:rgba(37, 99, 235, 0.75);   /* transparence */
    backdrop-filter: blur(14px);
    padding:12px 24px;
    border-radius:40px;
    border:1px solid rgba(255,255,255,0.25);
    box-shadow:0 8px 25px rgba(0,0,0,0.25);
    z-index:1000;
    transition:all 0.3s ease;
}

header nav{
    display:flex;
    gap:12px;
}

header nav a{
    color:black;
    text-decoration:none;
    padding:9px 20px;
    border-radius:22px;
    font-size:14.5px;
    font-weight:600;
    transition:0.3s;
}

header nav a:hover{
    background:rgba(255,255,255,0.25);
    transform:translateY(-2px);
}

/* ================= HERO ================= */
.hero{
    height:100vh;
    width:100vw;
    background:url("actuel.PNG.jpeg") center/cover no-repeat;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

/* ================= HERO LEFT ================= */
.hero-left{
    display:flex;
    justify-content:center;
    align-items:center;
}

/* ================= HERO RIGHT ================= */
.hero-right{
    max-width:500px;
    color:white;
    text-align:center;
}

.hero-right h1{
    font-size:34px;
    margin-bottom:20px;
}

.hero-right p{
    font-size:16px;
    line-height:1.7;
    color:#cfd8ff;
}

/* ================= CARTE GMAIL ================= */
.gmail-card{
    width:340px;
    padding:26px;
    background:rgba(255,255,255,0.10);
    backdrop-filter:blur(16px);
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.22);
    box-shadow:0 20px 45px rgba(0,0,0,0.45);
    color:white;
    animation:fadeIn 0.6s ease;
}

.gmail-header{
    display:flex;
    align-items:center;
    gap:14px;
    font-size:20px;
    font-weight:600;
    margin-bottom:16px;
}

.gmail-header img{
    width:36px;
}

.gmail-card p{
    font-size:15px;
    color:#dbe9ff;
    margin-bottom:22px;
    text-align:center;
}

.gmail-btn{
    display:block;
    width:100%;
    padding:13px 0;
    text-align:center;
    background:linear-gradient(135deg,#ea4335,#c5221f);
    border-radius:30px;
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.gmail-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 18px 35px rgba(234,67,53,0.55);
}

/* ================= ANIMATION ================= */
@keyframes fadeIn{
    from{opacity:0; transform:translateY(15px);}
    to{opacity:1; transform:translateY(0);}
}

/* ================= RESPONSIVE ================= */
@media(max-width:768px){
    .hero{
        flex-direction:column;
        padding-top:120px;
    }
}
